Repository echotry-ss14/Reserve-Station, pull requests merged in 2025-05, with the labels that each got.

#174 Changeling more ru localization
  Resources/Locale/ru-RU/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/changeling-catalog.ftl
Labels: Changes: Map, Changes: No C#

#173 Localization for guidebook, changeling and etc.
  Resources/Locale/ru-RU/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/actions/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/entities/objects/weapons/guns/changeling_dartgun.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/entities/objects/weapons/melee/changeling_armblade.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/entities/objects/weapons/melee/changeling_claw.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/entities/objects/weapons/melee/changeling_hammer.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/guidebook/guides.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/mobs/bees.ftl
  Resources/Locale/ru-RU/_Goobstation/actions/actions.ftl
  Resources/Locale/ru-RU/_Goobstation/ghost/ghost-role-component.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/remove-component-effect.ftl
  Resources/Locale/ru-RU/_Goobstation/research/technologies.ftl
  Resources/Locale/ru-RU/_reserve/bingle/guides.ftl
  Resources/Locale/ru-RU/_reserve/clothing/fake-abductor.ftl
  Resources/Locale/ru-RU/_reserve/collective-mind/collective-mind.ftl
  Resources/Locale/ru-RU/_reserve/damage/damage-examine.ftl
  Resources/Locale/ru-RU/_reserve/dodge-wideswing.ftl
  Resources/Locale/ru-RU/_reserve/enchanting/enchanter.ftl
  Resources/Locale/ru-RU/_reserve/enchanting/enchants.ftl
  Resources/Locale/ru-RU/_reserve/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_reserve/fishing/fish.ftl
  Resources/Locale/ru-RU/_reserve/fishing/fishing.ftl
  Resources/Locale/ru-RU/_reserve/fishing/fishingspots.ftl
  Resources/Locale/ru-RU/_reserve/multishot/multishot-component.ftl
  Resources/Locale/ru-RU/_reserve/reagents/amnestizine.ftl
  Resources/Locale/ru-RU/_reserve/reagents/meta/Consumable/juice.ftl
  Resources/Locale/ru-RU/_reserve/reagents/meta/mousebites.ftl
  Resources/Locale/ru-RU/_reserve/research/ui.ftl
  Resources/Prototypes/_Goobstation/Guidebook/bingle.yml
  Resources/Prototypes/_Goobstation/Guidebook/changeling.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Bingle.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/ChangelingsAbilities.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Wizard.xml
Labels: size/M, S: Needs Review

#183 Revert "Heavensgate is better now. (#172)"
  Resources/Locale/en-US/_Goobstation/entities/objects/weapons/guns/ammunition/boxes/high_caliber_box.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/guns/ammunition/boxes/high_caliber_box.ftl
  Resources/Locale/ru-RU/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Untriaged, Changes: No C#, size/S

#176 [Port] Health Analyzer Reactivation
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
Labels: enhancement, Changes: UI, Changes: No C#, size/S, port

#179 [Port] Techfab animated sprites
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Structures/Machines/techfab.rsi/building.png
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/unlit-building.png
  Resources/Textures/_DV/Structures/Machines/techfab.rsi/building.png
  Resources/Textures/_DV/Structures/Machines/techfab.rsi/unlit-building.png
  Resources/Textures/_Goobstation/Blob/heals.rsi/meta.json
Labels: Changes: No C#, size/S, Changes: Sprites, port

#180 [Port] Mail Telepad Notifications
  Content.Server/Nyanotrasen/Mail/Components/MailTeleporterComponent.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Locale/en-US/_Impstation/mail/mail.ftl
  Resources/Locale/ru-RU/_reserve/mail/mail.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
Labels: enhancement, size/M, port

#181 Stealth syndie key
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/radio_channels.yml
Labels: enhancement, size/S

#182 [Port] Moth buffs
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Labels: enhancement, size/S, port

#193 Token fix
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Locale/ru-RU/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
Labels: S: Untriaged, Changes: No C#

#192 Reznya on round end
  Content.Server/_Harmony/RoundEnd/PacifyAllCommand
  Content.Server/_Reserve/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
  Content.Server/_White/PostManifestMassacre/PostManifestMassacreSystem.cs
  Content.Shared/_White/CVars.cs
  Resources/Prototypes/_White/EntityLists/pmm_weapons.yml
Labels: enhancement, S: Untriaged, size/M, port

#191 [Port] THE PIT MUST GROW
  Content.Goobstation.Server/Bingle/BinglePitSystem.cs
Labels: enhancement, S: Untriaged, size/S, port

#189 [Port] Poshelnahui admin
  Content.Server/_White/Commands/PoshelnahuiCommand.cs
Labels: enhancement, S: Untriaged, size/S, port

#187 [Port] Document printer
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Lathes/misc.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Reserve/Recipes/Lathes/Packs/paper_forms.yml
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/panel.png
Labels: enhancement, size/M, Changes: No C#, Changes: Sprites, port

#188 [Port] Experimental welder rework
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: S: Untriaged, Changes: No C#, size/S, port

#190 [Port] Invisibility
  Content.Server/_White/Administration/Commands/InvisibilityCommand.cs
  Content.Server/_White/Administration/Commands/VisibilityCommand.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Locale/en-US/_white/administration/commands/invisibility.ftl
  Resources/Locale/ru-RU/_white/administration/commands/invisibility.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: enhancement, size/S, port

#194 Remove sigma shit
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/rehydrateable.yml
Labels: Changes: No C#

#197 Jetpack tweaks
  Content.Shared/Clothing/EntitySystems/AntiGravityClothingSystem.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Locale/ru-RU/_reserve/movement/jetpacks.ftl
Labels: enhancement, size/M

#196 Mouse figurine meme phrases
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
Labels: Changes: No C#, size/S

#198 No pax for CMO
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, S: Needs Review

#200 Midround nukies
  Resources/Prototypes/_White/GameRules/midround.yml
Labels: Changes: No C#, size/S, port

#202 Nuke Ops tweaks
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: S: Untriaged, Changes: No C#, size/S, balance

#201 [Port] AGhost Action Icons (#179)
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/_White/Interface/Actions/consoles.rsi/cargo.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/communication.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/crew.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/meta.json
  Resources/Textures/_White/Interface/Actions/consoles.rsi/radar.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/records.png
  Resources/Textures/_White/Interface/Actions/consoles.rsi/solar.png
Labels: S: Untriaged, Changes: No C#, size/S, Changes: Sprites, port

#199 [Port] Ai update
  Content.Client/ADT/Silicons/StationAi/StationAiInfo.xaml
  Content.Client/ADT/Silicons/StationAi/StationAiInfo.xaml.cs
  Content.Client/ADT/Silicons/StationAi/StationAiInfoBoundUserInterface.cs
  Content.Server/ADT/Silicons/StationAi/StationAiInfoComponent.cs
  Content.Server/ADT/Silicons/StationAi/StationAiInfoSystem.cs
  Content.Shared/ADT/Silicons/StationAi/SharedStationAiInfoSystem.cs
  Content.Shared/ADT/Silicons/StationAi/StationAiInfoState.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHeldComponent.cs
  Resources/Locale/en-US/_reserve/station-laws/laws.ftl
  Resources/Locale/ru-RU/ADT/silicons/station-ai.ftl
  Resources/Locale/ru-RU/_reserve/prototypes/actions/station_ai.ftl
  Resources/Locale/ru-RU/_reserve/silicon-laws.ftl
  Resources/Locale/ru-RU/_reserve/station-laws/laws.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Reserve/Actions/station_ai.yml
  Resources/Prototypes/silicon-laws.yml
  Resources/Textures/ADT/Interface/Actions/action_ai.rsi/atmos_alerts.png
  Resources/Textures/ADT/Interface/Actions/action_ai.rsi/comms_console.png
  Resources/Textures/ADT/Interface/Actions/action_ai.rsi/meta.json
  Resources/Textures/_White/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/_White/Interface/Actions/actions_ai.rsi/toggle_bolts.png
Labels: enhancement, size/L, Changes: UI, Changes: Sprites, port

#203 [Port] Respawn button and no GhostBar
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Goobstation.Server/Ghostbar/AntagBaseSystem.cs
  Content.Goobstation.Server/Ghostbar/GhostBarSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/ghost/ghost-respawn.ftl
Labels: enhancement, size/L, Changes: UI, S: Untriaged, port

#206 [Port] Moffers
  Resources/Audio/_DV/Items/Moffers/attributions.yml
  Resources/Audio/_DV/Items/Moffers/moth_scream1.ogg
  Resources/Audio/_DV/Items/Moffers/moth_scream2.ogg
  Resources/Audio/_DV/Items/Moffers/moth_scream3.ogg
  Resources/Locale/ru-RU/_reserve/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_DV/SoundCollections/moth.yml
  Resources/Textures/_DV/Clothing/Shoes/Specific/moffers.rsi/equipped-FEET.png
  Resources/Textures/_DV/Clothing/Shoes/Specific/moffers.rsi/icon.png
  Resources/Textures/_DV/Clothing/Shoes/Specific/moffers.rsi/meta.json
Labels: enhancement, S: Untriaged, Changes: No C#, size/S, Changes: Sprites, Changes: Audio, port

#209 devil translation
  Resources/Locale/ru-RU/_Goobstation/administration/antag.ftl
  Resources/Locale/ru-RU/_reserve/devil/cheatdeath/cheatdeath.ftl
  Resources/Locale/ru-RU/_reserve/devil/contracts/contract.ftl
  Resources/Locale/ru-RU/_reserve/devil/currency.ftl
  Resources/Locale/ru-RU/_reserve/devil/devil.ftl
  Resources/Locale/ru-RU/_reserve/devil/roles/antags.ftl
Labels: size/M, Changes: No C#

#210 Wrench for CMO
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: good first issue, Changes: No C#, size/XS, S: Needs Review

#208 All outer clothing has suit storage
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: enhancement, S: Untriaged, size/XS, port

#207 [Port] ADMIN discord integration
  Content.Server/ADT/Administration/Commands/PlayTimeRoleDataBaseCommand.cs
  Content.Server/ADT/Discord/BanInfo.cs
  Content.Server/ADT/Discord/Bans/DiscordBanInfoSender.cs
  Content.Server/ADT/Discord/Bans/IDiscordBanInfoSender.cs
  Content.Server/ADT/Discord/Bans/IDiscordBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/BanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/DepartmentBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/PanelBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/RoleBanPayloadGenerator.cs
  Content.Server/ADT/Discord/Bans/PayloadGenerators/ServerBanPayloadGenerator.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Resources/Locale/ru-RU/ADT/Discord/discord-ban.ftl
Labels: enhancement, S: Untriaged, size/M, port

#214 Correct kill objectives
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Resources/Prototypes/Objectives/traitor.yml
Labels: bug, enhancement, S: Untriaged, size/M, port

#215 Always end the round when nuke explodes
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: S: Untriaged, size/XS

#213 [Port] Reworked event progression
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: size/M, port

#165 Toy swords tweak port
  Resources/Locale/en-US/_reserve/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_reserve/prototypes/entities/fun/toys.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Reserve/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Reserve/Recipes/Crafting/Graphs/desword.yml
Labels: enhancement, Changes: No C#, size/S, port

#217 bwoink back in serverapi.cs
  Content.Server/Administration/ServerApi.cs
Labels: size/XS

#144 Cluster, Silly, Saltern maps update
  Resources/Maps/Reserve/cluster.yml
  Resources/Maps/Reserve/saltern.yml
  Resources/Maps/Reserve/sillyisland.yml
Labels: Changes: Map, Changes: No C#

#227 [Port] Custom announce
  Content.Server/DeltaV/Administration/Commands/AnnounceCustomCommand.cs
  Resources/Locale/en-US/deltav/administration/commands/announce-custom.ftl
  Resources/Locale/ru-RU/_reserve/command/announce-custom.ftl
Labels: enhancement, size/S, port

#212 New space law
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Locale/ru-RU/_Goobstation/guidebook/guides.ftl
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
  Resources/ServerInfo/_Reserve/Guidebook/SLCrimeListReserve.xml
  Resources/ServerInfo/_Reserve/Guidebook/Security/CrimesCommon.xml
  Resources/ServerInfo/_Reserve/Guidebook/Security/CrimesMinor.xml
  Resources/ServerInfo/_Reserve/Guidebook/Security/CrimesSerious.xml
  Resources/ServerInfo/_Reserve/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/_Reserve/Guidebook/SoP/AlertLevels/OmicronAlertSOP.xml
  Resources/ServerInfo/_Reserve/Guidebook/SoP/Jobs/Security/WardenSOP.xml
  Resources/ServerInfo/_Reserve/Guidebook/SoP/Legal/PunishmentsSOP.xml
  Resources/ServerInfo/_Reserve/Guidebook/SoP/Legal/SearchesSOP.xml
Labels: holy shit, size/L, Changes: No C#, locale

#178 [Port] Crime Assist pda program
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistPage.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiState.cs
  Resources/Locale/en-US/_DV/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_DV/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/cartridges/crimeassistflow.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/mining_voucher.yml
  Resources/Textures/_DV/Icons/cri.rsi/cri.png
  Resources/Textures/_DV/Icons/cri.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-cri.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-mail.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-psi.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/_DV/Objects/Specific/Salvage/voucher.rsi/icon.png
  Resources/Textures/_DV/Objects/Specific/Salvage/voucher.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/recorder.png
  Resources/Textures/_Goobstation/Structures/Walls/directional.rsi/meta.json
Labels: enhancement, size/L, Changes: UI, Changes: Sprites, port

#226 More translations of upstream things yay
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/categories.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/clothing/back/modsuit.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/consumable/food/lollypops.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/specific/robotics/modsuit_parts.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_reserve/Entities/objects/modsuit/modsuit.ftl
  Resources/Locale/ru-RU/_reserve/Entities/objects/weapons/ammunition/box/shotgun.ftl
  Resources/Locale/ru-RU/_reserve/Entities/objects/weapons/ammunition/magazines/shotgun_lever_magazine.ftl
  Resources/Locale/ru-RU/_reserve/chat/chat-stacking.ftl
  Resources/Locale/ru-RU/_reserve/entities/objects/specific/security/security_misc.ftl
  Resources/Locale/ru-RU/_reserve/reagents/meta/Consumable/juice.ftl
  Resources/Locale/ru-RU/_reserve/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Bombs/pizzabomb.yml
Labels: size/L, Changes: No C#, locale

#231 Publish tweak
  Tools/publish_github_artifact.py
  Tools/publish_multi_request.py
Labels: S: Untriaged, Changes: No C#, size/XS

#232 Automatic changelog update yay
  .github/workflows/changelog.yml
  Resources/Changelog/ReserveChangelog.yml
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Tools/changelog/changelog.js
Labels: S: Untriaged, Changes: No C#

#234 [Port] Better blob facrory
  Content.Goobstation.Server/Blob/BlobFactorySystem.cs
  Content.Goobstation.Server/Blob/Components/BlobFactoryComponent.cs
  Content.Goobstation.Server/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Goobstation.Server/Blob/ZombieBlobSystem.cs
  Content.Goobstation.Shared/Blob/Components/BlobPodComponent.cs
Labels: enhancement, S: Untriaged, size/M, port

#237 small tweaks dont care about em
  Content.Server/Administration/ServerApi.cs
  Resources/Locale/ru-RU/discord/round-notifications.ftl
Labels: size/XS

#238 Revenant fixes + monument visibiluty
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/_Impstation/Revenant/EntitySystems/RevenantStasisSystem.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/StatusEffect/StatusEffectsComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/status_effects.yml
Labels: bug, size/S

#236 More shotgun sounds
  Resources/Audio/Corvax/Weapons/Guns/Cock/attributions.yml
  Resources/Audio/Corvax/Weapons/Guns/Cock/shotgun_cock.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/shotgun_alt.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/shotgun_auto.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/shotgun_metal.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/shotgun_pipe.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/shotgun_sawed.ogg
  Resources/Audio/Weapons/Guns/Gunshots/license.txt
  Resources/Audio/Weapons/Guns/Gunshots/shotgun.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: enhancement, size/S, Changes: Audio, port
