Repository echotry-ss14/Reserve-Station, pull requests merged in 2025-02, with the labels that each got.

#87 Fixes saltern
  Resources/Maps/Reserve/saltern.yml
  Resources/Prototypes/_Reserve/Maps/saltern.yml
Labels: S: Untriaged, Changes: Map, Changes: No C#

#89 Hueland
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Maps/Reserve/saltern.yml
Labels: S: Untriaged, Changes: Map, Changes: No C#, size/S

#88 NOBODY LOVES BARRATRY
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/Pools/default.yml
Labels: S: Untriaged, Changes: Map

#92 ура
  Content.Server/_Reserve/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
Labels: S: Untriaged, size/XS

#93 Update ore.yml (#1811)
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#78 Специальные очки для ролей командования
  Content.Client/Cargo/Systems/ClientPriceGunSystem.cs
  Content.Server/Cargo/Systems/PriceGunSystem.cs
  Content.Shared/Cargo/SharedPriceGunSystem.cs
  Content.Shared/_Reserve/Cargo/AppraisalHudComponent.cs
  Content.Shared/_Reserve/Cargo/WearingAppraisalHudComponent.cs
  RELEASE_NOTES.md
  Resources/Locale/ru-RU/_reserve/cargo/price-gun-component.ftl
  Resources/Locale/ru-RU/_reserve/prototypes/entities/clothing/eyes/command-glasses.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_Reserve/Entities/Objects/Clothing/Eyes/command_glasses.yml
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CEglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CEglasses.rsi/equipped-EYES.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CEglasses.rsi/icon.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CEglasses.rsi/inhand-left.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CEglasses.rsi/inhand-right.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CEglasses.rsi/meta.json
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CMOglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CMOglasses.rsi/equipped-EYES.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CMOglasses.rsi/icon.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CMOglasses.rsi/inhand-left.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CMOglasses.rsi/inhand-right.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/CMOglasses.rsi/meta.json
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/QMglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/QMglasses.rsi/equipped-EYES.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/QMglasses.rsi/icon.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/QMglasses.rsi/inhand-left.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/QMglasses.rsi/inhand-right.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/QMglasses.rsi/meta.json
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/RDglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/RDglasses.rsi/equipped-EYES.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/RDglasses.rsi/icon.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/RDglasses.rsi/inhand-left.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/RDglasses.rsi/inhand-right.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/CommandGlasses/RDglasses.rsi/meta.json
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/secglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/secglasses.rsi/equipped-EYES.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/secglasses.rsi/icon.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/secglasses.rsi/inhand-left.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/secglasses.rsi/inhand-right.png
  Resources/Textures/_Reserve/Entities/Clothing/Eyes/secglasses.rsi/meta.json
Labels: size/M, Changes: Sprites

#94 Ohio
  Resources/Locale/ru-RU/_Goobstation/accent/ohio.ftl
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
Labels: S: Untriaged, size/M, Changes: No C#

#96 Переделал систему токенов под нас
  Resources/Locale/ru-RU/_Goobstation/servercurrency/server_currency.ftl
  Resources/Prototypes/_Goobstation/ServerCurrency/token_listings.yml
Labels: S: Untriaged, Changes: No C#, size/S

#95 increase 30>60
  Content.Server/Nuke/NukeComponent.cs
Labels: S: Untriaged, size/XS

#97 Guidebook fix
  Resources/Locale/ru-RU/_Goobstation/Changeling/guidebook/guides.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/guidebook.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_Goobstation/Changeling/Guidebook/antagonist.yml
  Resources/Prototypes/_Goobstation/Guidebook/blob.yml
  Resources/Prototypes/_Goobstation/Heretic/Guidebook/antagonist.yml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/ServerInfo/_Goobstation/Antagonist/Blob.xml
  Resources/ServerInfo/_Goobstation/Antagonist/Changelings.xml
  Resources/ServerInfo/_Goobstation/Antagonist/Heretics.xml
  Resources/ServerInfo/_Goobstation/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Antagonist/Abductors.xml
Labels: S: Untriaged, size/M, Changes: No C#
