Repository echotry-ss14/Reserve-Station, pull requests merged in 2025-03, with the labels that each got.

#102 Удаление сервера мониторинга экипажа с лаваленда
  Resources/Maps/_Lavaland/Lavaland/outpost_lavaland.yml
Labels: S: Untriaged, Changes: Map, Changes: No C#, size/S

#103 Локализация мага
  Resources/Locale/ru-RU/_Goobstation/Wizard/accents.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/apprentices.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/chuuni.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/hulk.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/items.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/magic.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/reagents.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/smhalberd.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spellblade.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spellbook-catalog-equipment.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spellbook-catalog-other.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spellbook-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spellbook-upgrades.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spells-actions.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/traps.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/ui.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/wizard.ftl
Labels: size/L, S: Untriaged, Changes: No C#

#105 sendshuttle command
  Content.Server/_Reserve/SendShuttle/SendShuttleCommand.cs
  Content.Server/_Reserve/SendShuttle/SendShuttleSystem.cs
  Content.Shared/_Reserve/ERT/SendShuttle/SendShuttlePrototype.cs
  Resources/Audio/_Reserve/announcement/ertno.ogg
  Resources/Audio/_Reserve/announcement/ertyes.ogg
  Resources/Audio/_Reserve/announcement/licenses.txt
  Resources/Locale/ru-RU/_reserve/Entities/spawners.ftl
  Resources/Locale/ru-RU/_reserve/command/sendert.ftl
  Resources/Locale/ru-RU/_reserve/ghost-role-information/ert.ftl
  Resources/Maps/Shuttles/ERT/medium-security.yml
  Resources/Maps/Shuttles/ERT/small-cburn.yml
  Resources/Maps/Shuttles/ERT/small-deathsquad.yml
  Resources/Maps/Shuttles/ERT/small-engie.yml
  Resources/Maps/Shuttles/ERT/small-jani.yml
  Resources/Maps/Shuttles/ERT/small-med.yml
  Resources/Maps/Shuttles/ERT/small-security.yml
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Datasets/Names/military.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/CBURNUnit.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/CBURNUnitLeader.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTEngineer.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTJanitor.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTLeader.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTMedical.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTSecurity.yml
  Resources/Prototypes/_Reserve/OMON/SwatPrototype/SwatRoles/SwatrolesP/SwatLeaderRole.yml
  Resources/Prototypes/_Reserve/shuttleType.yml
Labels: S: Untriaged, Changes: Map, Changes: Audio, size/XL

#109 Перевёл немного генокрадов
  Resources/Locale/ru-RU/_Goobstation/Changeling/abilities/changeling.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/changeling-catalog.ftl
Labels: S: Untriaged, Changes: No C#, size/S

#110 микрофиксы, локализация
  Resources/Locale/en-US/_Goobstation/Wizard/spellbook-catalog-equipment.ftl
  Resources/Locale/ru-RU/_Goobstation/Changeling/store/changeling-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spellbook-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/consumable/food/lollypops.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/specific/mining_voucher.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/shields/shields.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/lollypops.yml
Labels: size/M, Changes: No C#, Changes: Sprites, Changes: Audio, S: Needs Review

#113 Уродская зеленая обводка стала еще хуже
  Content.Client/Interactable/Components/InteractionOutlineComponent.cs
  Resources/Textures/Shaders/outline.swsl
Labels: S: Untriaged, size/M, Changes: No C#, Changes: Shaders

#114 hotfix
  Resources/Textures/Shaders/outline.swsl
Labels: Changes: No C#, size/S, Changes: Shaders

#116 мапфикс
  Resources/Maps/Reserve/cluster.yml
  Resources/Maps/Reserve/omega.yml
  Resources/Maps/Reserve/saltern.yml
  Resources/Prototypes/_Reserve/Maps/omega.yml
Labels: S: Untriaged, Changes: Map, Changes: No C#, size/XL

#101 Рева по согласию
  Content.Client/_Reserve/Revolutionary/UI/ConsentRequestedEui.cs
  Content.Client/_Reserve/Revolutionary/UI/ConsentRequestedMenu.xaml
  Content.Client/_Reserve/Revolutionary/UI/ConsentRequestedMenu.xaml.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/_Reserve/Revolutionary/Components/ConsentRevolutionaryComponent.cs
  Content.Server/_Reserve/Revolutionary/Components/ConsentRevolutionaryCooldownComponent.cs
  Content.Server/_Reserve/Revolutionary/Components/ConsentRevolutionaryDenyComponent.cs
  Content.Server/_Reserve/Revolutionary/ConsentRevolutionarySystem.cs
  Content.Server/_Reserve/Revolutionary/UI/ConsentRequestedEui.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/_Reserve/Revolutionary/ConsentRequestedEuiMessage.cs
  Content.Shared/_Reserve/Revolutionary/ConsentRequestedState.cs
  Content.Shared/_Reserve/Revolutionary/Events/RemoveConversionDeniedAlertEvent.cs
  Resources/Locale/ru-RU/_reserve/gamerules/revolutionary.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Reserve/Alerts/consent-rev.yml
  Resources/Prototypes/_Reserve/StatusEffects/consent-rev.yml
  Resources/Textures/_Reserve/Interface/Alerts/consent_rev_cooldown.rsi/consent_rev_cooldown.png
  Resources/Textures/_Reserve/Interface/Alerts/consent_rev_cooldown.rsi/meta.json
  Resources/Textures/_Reserve/Interface/Alerts/consent_rev_denied.rsi/consent_rev_denied.png
  Resources/Textures/_Reserve/Interface/Alerts/consent_rev_denied.rsi/meta.json
  Resources/Textures/_Reserve/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_Reserve/Interface/VerbIcons/revolution_convert.png
  Resources/Textures/_Reserve/Interface/VerbIcons/revolution_convert.png.yml
Labels: Changes: UI, S: Untriaged, size/M, Changes: Sprites

#112 Локализация руководств
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/ServerInfo/Guidebook/Engineering/AirAlarms.xml
  Resources/ServerInfo/Guidebook/Engineering/AirInjector.xml
  Resources/ServerInfo/Guidebook/Engineering/AirScrubber.xml
  Resources/ServerInfo/Guidebook/Engineering/AirVent.xml
  Resources/ServerInfo/Guidebook/Engineering/Airlocks.xml
  Resources/ServerInfo/Guidebook/Engineering/AtmosTools.xml
  Resources/ServerInfo/Guidebook/Engineering/AtmosphereInOut.xml
  Resources/ServerInfo/Guidebook/Engineering/AtmosphericAlertsComputer.xml
  Resources/ServerInfo/Guidebook/Engineering/AtmosphericNetworkMonitor.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/AtmosphericsSystems.xml
  Resources/ServerInfo/Guidebook/Engineering/DeviceMonitoringAndControl.xml
  Resources/ServerInfo/Guidebook/Engineering/ExpandingRepairingStation.xml
  Resources/ServerInfo/Guidebook/Engineering/FireAndGasControl.xml
  Resources/ServerInfo/Guidebook/Engineering/GasCanisters.xml
  Resources/ServerInfo/Guidebook/Engineering/GasCondensing.xml
  Resources/ServerInfo/Guidebook/Engineering/GasManipulation.xml
  Resources/ServerInfo/Guidebook/Engineering/GasMiningAndStorage.xml
  Resources/ServerInfo/Guidebook/Engineering/Gasses.xml
  Resources/ServerInfo/Guidebook/Engineering/Generators.xml
  Resources/ServerInfo/Guidebook/Engineering/InspectingPower.xml
  Resources/ServerInfo/Guidebook/Engineering/ManualValve.xml
  Resources/ServerInfo/Guidebook/Engineering/MixingAndFiltering.xml
  Resources/ServerInfo/Guidebook/Engineering/PassiveGate.xml
  Resources/ServerInfo/Guidebook/Engineering/PassiveVent.xml
  Resources/ServerInfo/Guidebook/Engineering/PipeNetworks.xml
  Resources/ServerInfo/Guidebook/Engineering/Pipes.xml
  Resources/ServerInfo/Guidebook/Engineering/PneumaticValve.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableScrubber.xml
  Resources/ServerInfo/Guidebook/Engineering/PowerStorage.xml
  Resources/ServerInfo/Guidebook/Engineering/Pumps.xml
  Resources/ServerInfo/Guidebook/Engineering/RTG.xml
  Resources/ServerInfo/Guidebook/Engineering/Radiators.xml
  Resources/ServerInfo/Guidebook/Engineering/Ramping.xml
  Resources/ServerInfo/Guidebook/Engineering/SignalValve.xml
  Resources/ServerInfo/Guidebook/Engineering/SingularityEngine.xml
  Resources/ServerInfo/Guidebook/Engineering/SolarPanels.xml
  Resources/ServerInfo/Guidebook/Engineering/Spacing.xml
  Resources/ServerInfo/Guidebook/Engineering/TeslaEngine.xml
  Resources/ServerInfo/Guidebook/Engineering/Thermomachines.xml
  Resources/ServerInfo/Guidebook/Engineering/Valves.xml
  Resources/ServerInfo/Guidebook/Engineering/WirePanels.xml
  Resources/ServerInfo/_Goobstation/Antagonist/Blob.xml
  Resources/ServerInfo/_Goobstation/Antagonist/Heretics.xml
  Resources/ServerInfo/_Goobstation/Engineering/Supermatter.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Wizard.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/WizardSpells.xml
Labels: size/L, S: Untriaged, Changes: No C#

#104 Консоль одиночного оперативника
  Resources/Locale/ru-RU/_reserve/consoles/computer.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Maps/Shuttles/ShuttleEvent/striker.yml
  Resources/Prototypes/_Reserve/Entities/Objects/Devices/Circuitboards/computers.yml
  Resources/Prototypes/_Reserve/Entities/Structures/Machines/computer.yml
Labels: Changes: Map, Changes: No C#

#119 Триклор и рецепт
  Resources/Prototypes/_Goobstation/Recipes/Reactions/toxins.yml
Labels: Changes: No C#

#122 Фикс ревы(?)
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: No C#, size/S

#120 Изменены карты пулла резерва
  Resources/Maps/Reserve/cluster.yml
  Resources/Maps/Reserve/omega.yml
  Resources/Maps/Reserve/saltern.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Reserve/Maps/cluster.yml
  Resources/Prototypes/_Reserve/Maps/omega.yml
Labels: Changes: Map, Changes: No C#, size/XL

#130 Анти кривые ручки систем
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: S: Untriaged, size/XS
