Repository echotry-ss14/Reserve-Station, pull requests merged in 2025-04, with the labels that each got.

#136 AME Buff
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
Labels: S: Untriaged, size/XS

#132 [Remove] Нахуй Сок Сигмы
  Resources/Locale/en-US/_Goobstation/reagents/meta/Consumable/alcohol.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_goobstation/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_goobstation/entities/objects/specific/syndicate/boxes.ftl
  Resources/Locale/ru-RU/_Goobstation/reagents/meta/Consumable/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_goobstation/entities/objects/consumable/drinks/drinks.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/boxes.yml
  Resources/Prototypes/_Goobstation/Reagents/alcohol.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/drinks.yml
Labels: size/M, Changes: No C#

#148 Revert "Merge branch 'Goob-Station:master' into master"
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/damage/damage-examine.ftl
  Resources/Locale/en-US/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/uplink.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/tags.yml
Labels: S: Untriaged

#149 Upstream
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/damage/damage-examine.ftl
  Resources/Locale/en-US/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/uplink.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_magnum.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/m7s.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/tags.yml
Labels: S: Untriaged

#154 Workflows tweaks fix
  .github/workflows/publish.yml
Labels: S: Untriaged, Changes: No C#

#155 Publish fix always setup NET core
  .github/workflows/publish.yml
Labels: S: Untriaged, Changes: No C#

#158 Datasets hotfix port
  Resources/Locale/ru-RU/datasets/adjectives.ftl
  Resources/Locale/ru-RU/datasets/corporations.ftl
  Resources/Locale/ru-RU/datasets/criminal_records.ftl
  Resources/Locale/ru-RU/datasets/verbs.ftl
  Resources/Prototypes/Datasets/adjectives.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Datasets/verbs.yml
Labels: S: Untriaged, Changes: No C#

#169 Admin satchel new stuff added
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: S: Untriaged, Changes: No C#

#163 No cqc (balance police)
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Security/undetermined_item.yml
Labels: Changes: No C#

#164 Fireaxe borg module port
  Resources/Locale/en-US/_reserve/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_reserve/prototypes/entities/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/_reserve/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_reserve/weapons/borg_fireaxe.ftl
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_Reserve/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Reserve/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Reserve/Entities/Objects/Weapons/Melee/borgFireaxe.yml
  Resources/Prototypes/_Reserve/Recipes/Lathes/robotics.yml
  Resources/Textures/_Reserve/Interface/Actions/actions_borg.rsi/fireaxe-module.png
  Resources/Textures/_Reserve/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/_Reserve/Interface/Actions/actions_borg.rsi/syndicate-fireaxe-module.png
  Resources/Textures/_Reserve/Objects/Specific/Robotics/borgmodule.rsi/icon-fireaxe-flaming.png
  Resources/Textures/_Reserve/Objects/Specific/Robotics/borgmodule.rsi/icon-fireaxe.png
  Resources/Textures/_Reserve/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, Changes: Sprites

#168 Raid suit rework + resprite
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Reserve/Clothing/Head/Helmets/syndie-raid-helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Reserve/Clothing/Head/Helmets/syndie-raid-helmet.rsi/equipped-HELMET.png
  Resources/Textures/_Reserve/Clothing/Head/Helmets/syndie-raid-helmet.rsi/icon.png
  Resources/Textures/_Reserve/Clothing/Head/Helmets/syndie-raid-helmet.rsi/inhand-left.png
  Resources/Textures/_Reserve/Clothing/Head/Helmets/syndie-raid-helmet.rsi/inhand-right.png
  Resources/Textures/_Reserve/Clothing/Head/Helmets/syndie-raid-helmet.rsi/meta.json
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light-vox.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/icon-flash.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/icon.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-left.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-right.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/light-overlay.png
  Resources/Textures/_Reserve/Clothing/OuterClothing/Armor/syndie-raid.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, Changes: Sprites

#167 Zombie buff
  Content.Shared/Zombies/ZombieComponent.cs
Labels: S: Untriaged

#171 Datasets fix
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/military.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/admeme.yml
  Resources/Prototypes/_Goobstation/GameRules/Admeme/token.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Reserve/DS/DS.yml
  Resources/Prototypes/_Reserve/ERT/ERT.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/CBURNUnit.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/CBURNUnitLeader.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTEngineer.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTJanitor.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTLeader.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTMedical.yml
  Resources/Prototypes/_Reserve/Entities/Spawners/ERTSecurity.yml
Labels: S: Untriaged, Changes: No C#

#172 Heavensgate fix
  Resources/Locale/en-US/_Goobstation/entities/objects/weapons/guns/ammunition/boxes/high_caliber_box.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_Goobstation/entities/objects/weapons/guns/ammunition/boxes/high_caliber_box.ftl
  Resources/Locale/ru-RU/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: No C#
